@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-Variable.ttf') format('truetype');
}

html {
	font-family: Inter, sans-serif;
	font-size: 16px;
}

::selection {
	color: #221e1f;
	background: #fdbe00;
}

body {
	background-image: url('/images/noise.png');
}
